.divStory {
  margin: 10px;
  border-style: solid;
  border-width: thin;
  background-color: lightgray;
  border-radius: 4px;
  padding: 0 10px;
}

.descriptionStory {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divStory.hovered {
  cursor: pointer;
  background-color: gray;
}
